<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <h1>Contacta a {{ nombre }}</h1>

    <!-- Usamos la función get_flashed_messages para obtener y mostrar mensajes flash. -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <form action="/contact" method="post">
      <label for="name">Nombre:</label><br />
      <input type="text" id="name" name="name" /><br />
      <label for="email">Correo electrónico:</label><br />
      <input type="email" id="email" name="email" /><br />
      <label for="message">Mensaje:</label><br />
      <textarea id="message" name="message"></textarea><br /><br />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
