<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eliminar Cuenta</title>
  </head>
  <body>
    <h1>Eliminar Cuenta</h1>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <form action="/delete_account" method="post">
      <p>
        ¿Estás seguro de que deseas eliminar tu cuenta? Esta acción no se puede
        deshacer.
      </p>
      <input type="submit" value="Eliminar Cuenta" />
    </form>
  </body>
</html>
