<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restablecer Contraseña</title>
  </head>
  <body>
    <h1>Restablecer Contraseña</h1>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <form action="/reset_token/{{ token }}" method="post">
      <label for="new_password">Nueva Contraseña:</label><br />
      <input type="password" id="new_password" name="new_password" /><br />
      <label for="confirm_password">Confirmar Nueva Contraseña:</label><br />
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
      /><br /><br />
      <input type="submit" value="Restablecer Contraseña" />
    </form>
  </body>
</html>
